#placeOrderContainer{
    margin-top:100px;
    height: 400px;
    display: flex;
    flex-direction:column;
}
#pocIcon{
    margin:20px auto;
}
.icon{
    color: green;
}
#pocText1{
    margin:10px auto;
    font-size: 32px;
    font-weight: 600;
}
#pocText2{
    margin:0px auto;
    font-size: 20px;
}
.pocbuttons{
    margin: 20px auto;
    width: 300px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.pocBtns{
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: green;
    border: 1px solid green;
    border-radius: 10px; 
}